.home{
  padding-top: 5rem;
  background-color: #6c757d;
  color: aliceblue;
}

#Contact{
  background-color: var(--bs-body-color);
  color: white;
}

.bi{
  color: black;
}

section{
  padding-top: 4rem;
}

.navbar-nav{
  margin-left: 42rem;
}

#typing-text {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
