#home{
  overflow-x:hidden;
}

#Contact{
  background-color: var(--bs-body-color);
  color: white;
}

.bi{
  color: black;
}

section{
  padding-top: 4rem;
}

.navbar-nav{
  margin-left: 42rem;
}

.typing-effect {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing 2s steps(30) infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}